
scripts/discord_token.txt
scripts/.idea/modules.xml
scripts/.idea/misc.xml
scripts/.idea/.name
scripts/.idea/inspectionProfiles/profiles_settings.xml
scripts/.idea/inspectionProfiles/Project_Default.xml
scripts/.idea/MAGLAB Events Bot.iml
*.log
